<div class="home-container">
  <app-navbar></app-navbar>
  <main class="content">
    <div class="meeting-wrapper">
      <div class="meeting-content">
        <div class="meeting-image">
          <img src="assets/meeting-page/meeting.jpg" alt="Meeting Room" />
        </div>
        <div class="meeting-text">
          <h2>{{ 'MEETING.TITLE' | translate }}</h2>
          <p>{{ 'MEETING.DESCRIPTION' | translate }}</p>
          <div class="meeting-columns">
            <div class="meeting-card">
              <h3>{{ 'MEETING.STANDARD' | translate }}</h3>
              <ul>
                <li>{{ 'MEETING.ITEM_LIST_1' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_2' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_3' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_4' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_5' | translate }}</li>
              </ul>
            </div>
            <div class="meeting-card">
              <h3>{{ 'MEETING.ON_REQUEST' | translate }}</h3>
              <ul>
                <li>{{ 'MEETING.ITEM_LIST_6' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_7' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_8' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_9' | translate }}</li>
                <li>{{ 'MEETING.ITEM_LIST_10' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
